/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  /* padding: 20px; */
}
/* Header Styles */
header {
  background-color: #343a40;
}

.nav {
  display: flex;
  justify-content: space-around; /* Centers items evenly */
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 0 20px; /* Add some padding for better spacing */
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px; /* Adds padding for a bigger clickable area */
  transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
  border-radius: 5px; /* Rounded corners for the links */
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Light hover effect */
  text-decoration: underline;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="file"] {
  padding: 10px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #218838;
}
